---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.10/576472312465910/feed?fields=message&limit=100
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <FACEBOOK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d16e3488d06e6cbc71e2aeb1f491ff2b1ffd5c05"'
      Content-Type:
      - text/javascript; charset=UTF-8
      Facebook-Api-Version:
      - v2.10
    body:
      encoding: UTF-8
      string: '{"data":[{"message":"\u807d\u8aaa\u6709\u4e00\u4f4d105\u6b72\u7684\u8001\u723a\u723a\u5728\u6e05\u5927\u7684\u8ab2\u4e0a\u65c1\u807d\uff0c\u9084\u6e96\u5099\u8003\u535a\u58eb\u5b78\u4f4d\uff0c\u8acb\u554f\u6709\u8ab0\u9047\u898b\u904e\u4ed6\u9ebc\uff1f\u8d85\u5d07\u62dc\uff01","id":"576472312465910_1471030469676752"},{"message":"#\u9760\u5317\u6e05\u592762968\n\n\u5357\u5927\u526f\u6703\u9577\u597d\u5927\u7684\u5b98\u5a01\u554a\uff0c\u4e5f\u4e0d\u60f3\u60f3\u9019\u500b\u4f4d\u7f6e\u662f\u5927\u5bb6\u6295\u7968\u8b93\u4f60\u7576\u7684\u3002\u73fe\u5728\u7576\u9078\u4e86\u5c31\u9019\u526f\u5634\u81c9\u4f60\u597d\u610f\u601d\uff1f\u6015\u9ebb\u7169\u5c31\u4e0d\u8981\u51fa\u4f86\u9078\u5440\uff01\n\u9023\u6700\u57fa\u672c\u56de\u7b54\u5b78\u751f\u7684\u7591\u60d1\u90fd\u5fc3\u[...]
